<section
  class="w-full lg:py-16 text-center mt-8 lg:mt-16 bg-[#FAFAFF] text-[#B6B6B6]"
>
  <div class="w-10/12 mx-auto flex h-full text-center lg:text-left flex-col lg:flex-row text-sm">
    <div class="flex-1 lg:ml-0 mx-8 mb-8 lg:mb-0">
      <app-logo></app-logo>
      <p class="mt-4 mb-4 leading-relaxed">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Commodo libero viverra dapibus odio sit malesuada in quis. Arcu tristique elementum viverra integer id.
      </p>
      <div class="">
        <a href="#" class="w-[42px] h-[42px] inline-block rounded-full p-1 bg-[#F5DDC4] cursor-pointed p-2 mr-4">
          <img src="./assets/icon-fb.svg">
        </a>
        <a href="#" class="w-[42px] h-[42px] inline-block rounded-full p-1 bg-[#F5DDC4] cursor-pointed p-2 mr-4">
          <img src="./assets/icon-x.svg">
        </a>
        <a href="#" class="w-[42px] h-[42px] inline-block rounded-full p-1 bg-[#F5DDC4] cursor-pointed p-3 mr-4">
          <img src="./assets/icon-linkedin.svg">
        </a>
        <a href="#" class="w-[42px] h-[42px] inline-block rounded-full p-1 bg-[#F5DDC4] cursor-pointed p-2 mr-4">
          <img src="./assets/icon-instagram.svg">
        </a>
      </div>
    </div>
    <div class="flex-1 mx-8 mb-8 lg:mb-0">
      <h3 class="text-md lg:text-xl mb-6 font-bold text-black">Opening Restaurant</h3>
      <p class="leading-loose">Sat-Wed: 09:00am - 10:00pm</p>
      <p class="leading-loose">Thursday: 09:00am - 10:00pm</p>
      <p class="leading-loose">Friday: 09:00am - 10:00pm</p>
    </div>
    <div class="flex-1 mx-8 mb-8 lg:mb-0">
      <h3 class="text-md lg:text-xl mb-6 font-bold text-black">User Link</h3>
      <p class="leading-loose">About Us</p>
      <p class="leading-loose">Contact Us</p>
      <p class="leading-loose">Order Delivery</p>
      <p class="leading-loose">Payment and Tax</p>
      <p class="leading-loose">Terms of Service</p>
    </div>
    <div class="flex-1 mx-8 mb-8 lg:mb-0">
      <h3 class="text-md lg:text-xl mb-6 font-bold text-black">Contact Us</h3>
      <p class="leading-loose">1234 Country Club Ave</p>
      <p class="leading-loose">NC 123456, London, UK</p>
      <p class="leading-loose">+1 229993 342</p>

      <div class="py-3">
        <div class="bg-white rounded-full p-1 flex relative h-14 shadow-md">
          <input type="text" class="px-4 flex-1 flex rounded-full pr-10 text-sm outline-none" placeholder="Enter email">
          <button class="h-10 w-10 bg-orange-400 rounded-full absolute top-2 right-2">></button>
        </div>
      </div>
    </div>
  </div>
</section>
