<section
  class="w-full bg-white lg:py-8 text-center mt-8 lg:mt-16 bg-[#efefef] text-slate-400"
>
  <div class="w-10/12 mx-auto flex h-full text-left flex-col lg:flex-row">
    <div class="flex-1 lg:ml-0 mx-8 mb-8 lg:mb-0">
      <app-logo></app-logo>
      <p class="mt-4">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </p>
    </div>
    <div class="flex-1 mx-8 mb-8 lg:mb-0">
      <h3 class="text-2xl mb-6 font-bold text-black">Opening Restaurant</h3>
      <p>Sat-Wed 09:00am - 10:00pm</p>
      <p>Sat-Wed 09:00am - 10:00pm</p>
      <p>Sat-Wed 09:00am - 10:00pm</p>
    </div>
    <div class="flex-1 mx-8 mb-8 lg:mb-0">
      <h3 class="text-2xl mb-6 font-bold text-black">User Link</h3>
      <p>About Us</p>
      <p>Contact Us</p>
      <p>Order Delivery</p>
      <p>Payment and Tax</p>
      <p>Terms of Service</p>
    </div>
    <div class="flex-1 mx-8 mb-8 lg:mb-0">
      <h3 class="text-2xl mb-6 font-bold text-black">Contact Us</h3>
      <p>1234 Country Club Ave</p>
      <p>NC 123456, London, UK</p>
      <p>+1 229993 342</p>
    </div>
  </div>
</section>
