<section class="w-full bg-white py-16 text-center mt-24 bg-[#efefef]">
  <div class="w-10/12 mx-auto flex h-full text-left">
    <div class="flex-1 mr-24">
      <a href="#">
        <img
          class="p-2 relative w-[145px] mb-4"
          src="./assets/food-logo.png"
          alt="Food Logo"
        />
      </a>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
    <div class="flex-1">
      <h3 class="text-2xl mb-4 font-bold">Opening Restaurant</h3>
      <p>Sat-Wed 09:00am - 10:00pm</p>
      <p>Sat-Wed 09:00am - 10:00pm</p>
      <p>Sat-Wed 09:00am - 10:00pm</p>
    </div>
    <div class="flex-1">
      <h3 class="text-2xl mb-4 font-bold">User Link</h3>
      <p>About Us</p>
      <p>Contact Us</p>
      <p>Order Delivery</p>
      <p>Payment and Tax</p>
      <p>Terms of Service</p>
    </div>
    <div class="flex-1">
      <h3 class="text-2xl mb-4 font-bold">Contact Us</h3>
      <p>Sat-Wed 09:00am - 10:00pm</p>
      <p>Sat-Wed 09:00am - 10:00pm</p>
      <p>Sat-Wed 09:00am - 10:00pm</p>
    </div>
  </div>
</section>
