<section class="w-full min-h-screen bg-white">
  <div class="w-10/12 xl:max-w-1280 mx-auto">
    <header class="py-5 hero flex lg:mb-10">
      <div class="flex-1 lg:block">
        <app-logo></app-logo>
      </div>
      <app-main-nav></app-main-nav>
      <div class="flex lg:hidden mt-4">
        <img
          class="mx-3 justify-end bg-white rounded-full p-1 relative right-[-12px] w-[40px] h-[40px] cursor-pointer"
          src="./assets/icon-burger-menu.svg"
          width="40"
          height="40"
          alt="Main menu"
        />
      </div>
      <div class="flex-1 items-center flex hidden xl:block">
        <app-search></app-search>
      </div>
    </header>

    <div class="flex flex-col lg:flex-row">
      <div class="flex-1 lg:pr-1 xl:pr-32">
        <div
          class="mb-5 lg:mb-16 rounded-full bg-[#F5DDC4] p-1 flex items-center w-[270px] mx-auto lg:mx-0"
        >
          <div class="flex-1 items-end px-4 text-lg text-[#F48E28]">
            Bike Delivery
          </div>
          <div>
            <img
              class="mx-3 justify-end bg-white rounded-full p-1 relative right-[-12px] w-[36px] h-[36px] lg:w-[46px] lg:h-[46px]"
              src="./assets/icon-delivery.svg"
              width="36"
              height="36"
              alt="Add to cart"
            />
          </div>
        </div>
        <h1
          class="text-black text-3xl md:text-4xl lg:text-7xl font-bold leading-loose mb-4 lg:mb-16 text-center lg:text-left relative"
        >
          The Fastest Delivery
          <span class="text-orange-600"
            ><br class="hidden lg:inline-block" />In Your City</span
          >
          <img
            class="hidden xl:inline-block absolute -right-[230px] top-[20px]"
            src="./assets/icon-hero-arrow.svg"
            width="382"
            height="236"
            alt="Main menu"
          />
        </h1>
        <p
          class="mb-8 lg:mb-16 text-center lg:text-left text-md md:text-xl lg:text-2xl"
        >
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ipsam,
          itaque magni dignissimos maxime aperiam.
        </p>
        <div class="mb-16 lg:mb-0 hidden lg:flex">
          <div class="flex-1 flex justify-end lg:justify-start w-full">
            <app-order-now>Order Now</app-order-now>
          </div>
          <div class="flex-1 flex items-center justify-start">
            <button
              class="flex items-center justify-center lg:justify-start -top-1 relative w-full"
            >
              <span
                class="w-[60] h-[60] md:w-[70px] md:h-[70px] bg-white shadow-lg rounded-full flex justify-center items-center"
              >
                <img
                  class="p-2 relative right-[-4px] lg:w-[50px] lg:h-[50px] w-[40px] h-[40px]"
                  src="./assets/icon-triangle.svg"
                  alt="Order Process"
                />
              </span>
              <span
                class="inline-block md:text-md xl:text-xl px-3 lg:px-4 font-bold"
                >Order Process</span
              >
            </button>
          </div>
        </div>
      </div>
      <div class="flex-1 relative">
        <div
          class="flex items-center justify-center lg:justify-end z-[40] relative"
        >
          <div class="flex flex-col">
            <div class="flex">
              <div class="w-[230px] text-center pb-10 overflow-hidden p-4">
                <div class="mx-3 bg-white rounded-2xl shadow-lg flex flex-col">
                  <figure>
                    <img
                      src="./assets/burger_sandwich.png"
                      alt=""
                      class="scale-150"
                    />
                    <figcaption class="relative z-20">
                      <h4 class="text-2xl font-bold">Burger</h4>
                      <p>Mushroom Souce</p>
                      <p>$5.15</p>
                    </figcaption>
                  </figure>
                  <div class="flex relative top-[15px]">
                    <div class="flex-1 flex justify-end">
                      <img
                        class="mx-3 justify-end bg-white rounded-full p-1 relative shadow-xl cursor-pointer"
                        src="./assets/icon-arrow-prev.svg"
                        width="40"
                        height="40"
                        alt="Previous"
                      />
                    </div>
                    <div class="flex-1 flex justify-start">
                      <img
                        class="mx-3 justify-end bg-white rounded-full p-1 relative shadow-xl cursor-pointer"
                        src="./assets/icon-arrow-next.svg"
                        width="40"
                        height="40"
                        alt="Next"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="w-[230px] text-center pb-10 overflow-hidden p-4">
                <div class="mx-3 bg-white rounded-2xl shadow-lg flex flex-col">
                  <figure>
                    <img
                      src="./assets/img-food-combo.png"
                      alt=""
                      class="scale-150"
                    />
                    <figcaption class="relative z-20">
                      <h4 class="text-2xl font-bold">Burger</h4>
                      <p>Mushroom Souce</p>
                      <p>$5.15</p>
                    </figcaption>
                  </figure>
                  <div class="flex relative top-[15px]">
                    <div class="flex-1 flex justify-end">
                      <img
                        class="mx-3 justify-end bg-white rounded-full p-1 relative shadow-xl cursor-pointer"
                        src="./assets/icon-arrow-prev.svg"
                        width="40"
                        height="40"
                        alt="Previous"
                      />
                    </div>
                    <div class="flex-1 flex justify-start">
                      <img
                        class="mx-3 justify-end bg-white rounded-full p-1 relative shadow-xl cursor-pointer"
                        src="./assets/icon-arrow-next.svg"
                        width="40"
                        height="40"
                        alt="Next"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex">
              <div class="w-[230px] text-center pb-10 overflow-hidden p-4">
                <div class="mx-3 bg-white rounded-2xl shadow-lg flex flex-col">
                  <figure>
                    <img
                      src="./assets/img-food-pizza.png"
                      alt=""
                      class="scale-150"
                    />
                    <figcaption class="relative z-20">
                      <h4 class="text-2xl font-bold">Burger</h4>
                      <p>Mushroom Souce</p>
                      <p>$5.15</p>
                    </figcaption>
                  </figure>
                  <div class="flex relative top-[15px]">
                    <div class="flex-1 flex justify-end">
                      <img
                        class="mx-3 justify-end bg-white rounded-full p-1 relative shadow-xl cursor-pointer"
                        src="./assets/icon-arrow-prev.svg"
                        width="40"
                        height="40"
                        alt="Previous"
                      />
                    </div>
                    <div class="flex-1 flex justify-start">
                      <img
                        class="mx-3 justify-end bg-white rounded-full p-1 relative shadow-xl cursor-pointer"
                        src="./assets/icon-arrow-next.svg"
                        width="40"
                        height="40"
                        alt="Next"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="w-[230px] text-center pb-10 overflow-hidden p-4">
                <div class="mx-3 bg-white rounded-2xl shadow-lg flex flex-col">
                  <figure>
                    <img
                      src="./assets/img-food-desert.png"
                      alt=""
                      class="scale-150"
                    />
                    <figcaption class="relative z-20">
                      <h4 class="text-2xl font-bold">Burger</h4>
                      <p>Mushroom Souce</p>
                      <p>$5.15</p>
                    </figcaption>
                  </figure>
                  <div class="flex relative top-[15px]">
                    <div class="flex-1 flex justify-end">
                      <img
                        class="mx-3 justify-end bg-white rounded-full p-1 relative shadow-xl cursor-pointer"
                        src="./assets/icon-arrow-prev.svg"
                        width="40"
                        height="40"
                        alt="Previous"
                      />
                    </div>
                    <div class="flex-1 flex justify-start">
                      <img
                        class="mx-3 justify-end bg-white rounded-full p-1 relative shadow-xl cursor-pointer"
                        src="./assets/icon-arrow-next.svg"
                        width="40"
                        height="40"
                        alt="Next"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          style="
            background: rgb(217, 217, 217);
            background: linear-gradient(
              180deg,
              rgba(217, 217, 217, 1) 0%,
              rgba(217, 217, 217, 0) 100%
            );
          "
          class="bg-slate-500 absolute h-full xl:w-[370px] rounded-[30px] -right-4 -top-8 z-[10]"
        ></div>
      </div>
    </div>
    <div
      class="flex text-center shadow-xl p-[50px] rounded-xl my-8 lg:my-16 flex-col lg:flex-row mx-6 lg:mx-0"
    >
      <div
        *ngFor="let item of operatingHours"
        class="flex-1 flex justify-center items-center flex-col mb-8 lg:mb-0"
      >
        <img
          class="rounded-full text-center w-[45px] h-[45px] bg-orange-400 p-2 mb-4"
          src="./assets/{{ item.url }}"
          alt="{{ item.operatingHour }}"
        />
        <p class="font-bold mb-1">{{ item.operatingHour }}</p>
        <p class="text-gray-400 text-xs">{{ item.text }}</p>
      </div>
    </div>
  </div>
</section>
