<nav class="flex items-center flex-1 text-center justify-center">
  <ul class="m-0 p-0 hidden lg:flex">
    <li>
      <a class="inline-block text-md lg:text-lg font-semibold p-4" href="#"
        >Home</a
      >
    </li>
    <li>
      <a class="inline-block text-md lg:text-lg font-semibold p-4" href="#"
        >Menu</a
      >
    </li>
    <li>
      <a class="inline-block text-md lg:text-lg font-semibold p-4" href="#"
        >Service</a
      >
    </li>
    <li>
      <a class="inline-block text-md lg:text-lg font-semibold p-4" href="#"
        >Shop</a
      >
    </li>
  </ul>
  <div class="flex lg:hidden mt-4">
    <img
      class="mx-3 justify-end bg-white rounded-full p-1 relative right-[-12px] w-[40px] h-[40px] cursor-pointer"
      src="./assets/icon-burger-menu.svg"
      width="40"
      height="40"
      alt="Main menu"
    />
  </div>
</nav>
