<nav class="flex items-center flex-1 text-center justify-center">
  <ul class="m-0 p-0 hidden lg:flex">
    <li>
      <a class="inline-block text-md lg:text-lg font-semibold p-4" href="#"
        >Home</a
      >
    </li>
    <li>
      <a class="inline-block text-md lg:text-lg font-semibold p-4" href="#"
        >Menu</a
      >
    </li>
    <li>
      <a class="inline-block text-md lg:text-lg font-semibold p-4" href="#"
        >Service</a
      >
    </li>
    <li>
      <a class="inline-block text-md lg:text-lg font-semibold p-4" href="#"
        >Shop</a
      >
    </li>
  </ul>
</nav>
