<section class="w-full bg-white py-8 lg:py-16 text-center">
  <p class="uppercase text-orange-400">Testimonials</p>
  <h2 class="text-4xl font-bold mb-6 lg:mb-16">Our Happy Client Says</h2>
  <div class="w-10/12 xl:max-w-1280 mx-auto flex h-full">
    <div class="flex-1 flex w-full flex-col bg-white shadow-xl rounded-xl relativ p-10">
      <div class="flex flex-1 justify-center items-center flex-col">
        <div class="flex items-center justify-center relative z-20 mb-6">
          <img width="100" height="100" class="relative rounded-full bg-orange-100" src="https://placehold.co/100"
            alt="Profile" />
          <div class="flex items-start justify-center flex-col pl-4">
            <h3>John Joe</h3>
            <p>CEO & Co-Founder</p>
          </div>
        </div>
        <div class="flex relative z-20 px-12">
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque
            harum quisquam corrupti aliquam autem impedit vel reiciendis
            asperiores, quasi, mollitia rerum quam magni nam, sed rem explicabo
            veniam necessitatibus sit!
          </p>
        </div>
        <div class="flex w-full z-10 -top-24 relative">
          <div class="bg-orange-400 w-[40px] h-[40px] rounded-full relative xl:right-6">
            <img
              class="justify-center rounded-full p-1 relative shadow-xl cursor-pointer inline-block w-[40px] h-[40px]"
              src="./assets/icon-arrow-prev-white.svg" alt="Previous" />
          </div>
          <div class="flex-1"></div>
          <div class="bg-orange-400 w-[40px] h-[40px] rounded-full relative xl:-right-6">
            <img
              class="justify-center rounded-full p-1 relative shadow-xl cursor-pointer inline-block w-[40px] h-[40px]"
              src="./assets/icon-arrow-next-white.svg" alt="Next" />
          </div>
        </div>
      </div>
    </div>
    <div class="flex-1 hidden xl:block">
      <img class="p-2 relative" src="./assets/img-burger-fries.png" alt="Profile" />
    </div>
  </div>
</section>