<section class="w-full bg-white py-8 lg:py-16 text-center">
  <p class="uppercase text-orange-400">Services</p>
  <h2 class="text-4xl font-bold mb-8 lg:mb-16">Why Choose Food Creations</h2>
  <div class="w-10/12 xl:max-w-1280 mx-auto flex flex-col lg:flex-row">
    <div
      *ngFor="let s of serviceItems"
      class="flex-1 mx-6 rounded-xl hover:drop-shadow-2xl transition-all ease-in-out text-center border-[1px] border-gray-200 mb-8"
    >
      <div
        class="bg-white rounded-xl flex flex-col items-center justify-center p-12"
      >
        <figure>
          <img
            width="70"
            height="70"
            class="rounded-full bg-[#F5DDC4] p-4"
            src="./assets/{{ s.imgUrl }}"
            alt="{{ s.title }}"
          />
        </figure>
        <figcaption>
          <h1 class="text-xl font-bold my-6">{{ s.title }}</h1>
          <div class="text-md">{{ s.text }}</div>
        </figcaption>
      </div>
    </div>
  </div>
</section>
