<div class="bg-white shadow-md rounded-lg p-2 flex ml-32">
  <img
    class="mx-3"
    src="./assets/icon-search.svg"
    width="30"
    height="30"
    alt="Search Icon"
  />
  <input
    type="text"
    placeholder="Search"
    class="p-2 w-full border-r outline-none text-lg"
  />
  <span class="relative">
    <img
      class="mx-3"
      src="./assets/icon-cart.svg"
      width="35"
      height="35"
      alt="Add to cart"
    />
    <span
      style="
        font-size: 9px;
        padding: 1px;
        text-align: center;
        box-shadow: 0 0 10px rgba(242, 133, 0, 0.5),
          0 0 20px rgba(242, 133, 0, 0.5), 0 0 30px rgba(242, 133, 0, 0.5),
          0 0 40px rgba(242, 133, 0, 0.5);
      "
      class="w-[16px] h-[16px] bg-orange-400 rounded-full right-[-5px] top-[-3px] inline-block absolute text-white"
      >4</span
    >
  </span>
</div>
