<section class="w-full bg-white py-16 text-center">
  <p class="uppercase text-orange-400">Testimonials</p>
  <h2 class="text-4xl font-bold mb-16">Our Happy Client Says</h2>
  <div class="w-10/12 mx-auto flex h-full">
    <div class="bg-black rounded-[40px] h-[340px] w-full flex">
      <div class="flex-1">
        <img
          src="./assets/img-burger.png"
          class="scale-[120%] relative -top-[70px]"
          alt=""
        />
      </div>
      <div class="flex-1 flex text-white flex-col text-lg text-left p-12">
        <h1 class="text-4xl mb-4">Subscribe To Our Newsletter</h1>
        <p class="mb-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo amet
          quod odit quas pariatur reprehenderit laudantium hic natus ab quidem,
          harum sit rem cum veniam.
        </p>
        <div class="bg-orange-400 p-3">
          <h3 class="text-lg">Search Input here...</h3>
        </div>
      </div>
    </div>
  </div>
</section>
