<section class="w-full bg-white py-8 lg:py-12 text-center">
  <div class="w-10/12 xl:max-w-1280 mx-auto flex h-full">
    <div class="bg-black rounded-[20px] lg:max-h-[290px] w-full flex">
      <div class="flex-1 hidden xl:block">
        <img
          src="./assets/img-burger.png"
          class="relative xl:-top-[90px] xl:w-[530px] xl:w-[487px]"
          alt=""
        />
      </div>
      <div
        class="flex-1 flex text-white flex-col text-lg text-left p-8 lg:p-12 xl:pl-32"
      >
        <h1 class="text-3xl mb-4 font-bold">Subscribe To Our Newsletter</h1>
        <p class="mb-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo amet
          quod odit quas pariatur reprehenderit.
        </p>
        <div class="bg-white p-3 rounded-md text-black">
          <h3 class="text-lg">Search Input here...</h3>
        </div>
      </div>
    </div>
  </div>
</section>
